<!--  .$select('Order, sum(Quantity) as OrderTotal')-->
<div id="Order_{{order.OrderID}}" class="cssOneOrderRecord">
    <div class="cssOneOrderHeader">
        <div class="cssOrderID">Order # {{order.OrderID}}</div>
        <div class="cssOrderDate">Order Date: {{order.OrderDate}}</div>
    </div>
    <div class="cssOneProductRecord" ng-repeat='product in order.ProductsInBasket' ng-class-odd="'cssProductOdd'" ng-class-even="'cssProductEven'">
        <div class="cssOneProductQty">{{product.Quantity}}</div>
        <div class="cssOneProductName">{{product.ProductName}}</div>
        <div class="cssOneProductPrice">@ {{product.UnitPrice | currency}}</div>
        <div class="cssOneProductSubtotal">{{product.UnitPrice * product.Quantity | currency}}</div>
    </div>

    <order-total></order-total>

</div>