<div id="{{Customer.CustomerID}}" class="cssOneCompanyRecord" ng-class="{cssCompanySelectedRecord: Customer.CustomerID == selectedCustomer}" ng-repeat='Customer in listOfCustomers' ng-click="selectCustomer(Customer);">
    <div class="cssCompanyName">{{Customer.CompanyName}}</div>
    <div class="cssCompanyCity">{{Customer.City}}</div>
    <div class="cssCustomerID">{{Customer.CustomerID}}</div>
    <img src='Images/icnOffice.png' title="This is a tooltip for the company: {{Customer.CompanyName}}" class="cssCustomerIcon" />
</div>